html {
  font-size: 20px;
}

body {
  color: #ffffff;
  background-color: #000000;
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

h1, h2 {
  position: relative;
  line-height: 1.1;
  font-weight: 600;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3.1rem;
}

h2 {
  font-size: 2rem;
  border-bottom: 1px dashed #ffffff;
  margin-top: 1.5rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

.glow {
  z-index: 10;
  color: #00ffe6;
  filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
}

.overlay {
  position: relative;
  z-index: 20;
}

.lang-hint {
  border-bottom: 1px dashed #ffffff;
  font-weight: 600;
  opacity: 0.5;
}

.logo-table {
  margin-top: 2rem;
}